name: python-deployment

run-name: ${{ github.actor }} - ${{ github.ref_name }} - ${{ github.sha }}

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  DockerImageName: todoapp

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python-ci:
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./src
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage flake8
          pip install -r requirements.txt
      - name: Run tests
        run: |
          python manage.py test

      - name: Generate Report
        run: |
          coverage run --source='.' manage.py test
          coverage report
      - name: Linting
        run: |
            flake8 . --show-source --statistics --exit-zero
      - name: Check Complexity
        run: |
            flake8 . --exit-zero --max-complexity=6
      - name: Upload python artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-artifacts-${{ matrix.os }}-${{ matrix.python-version }}
          path: .

      - name: Upload helm artifacts
        if: ${{ github.ref_name == 'main' }}
        uses: actions/upload-artifact@v4
        with:
          name: helm-artifacts-${{ matrix.os }}-${{ matrix.python-version }}
          path: ${{ github.workspace }}/helm-charts

      - name: Upload kind cluster artifact
        if: ${{ github.ref_name == 'main' }}
        uses: actions/upload-artifact@v4
        with:
          name: kind-cluster-${{ matrix.os }}-${{ matrix.python-version }}
          path: ${{ github.workspace }}/cluster.yml

  docker-ci:
    name: Build and Push Image
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == 'main' }}
    needs: python-ci
    steps:
      - uses: actions/download-artifact@v4
        name: Download python artifacts
        with:
          name: python-artifacts-ubuntu-latest-3.8
          path: .
      - uses: actions/download-artifact@v4
        name: Download python artifacts
        with:
          name: python-artifacts-ubuntu-latest-3.9
          path: .
      - uses: actions/download-artifact@v4
        name: Download python artifacts
        with:
          name: python-artifacts-windows-latest-3.8
          path: .
      - uses: actions/download-artifact@v4
        name: Download python artifacts
        with:
          name: python-artifacts-windows-latest-3.9
          path: .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          context: ./src
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DockerImageName }}:${{ github.sha }}

  helm-ci:
    runs-on: ubuntu-latest
    needs: python-ci
    if: ${{ github.ref_name == 'main' }}
    name: Helm CI
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: helm-artifacts-ubuntu-latest-3.8
          path: .
      - uses: actions/download-artifact@v4
        with:
          name: helm-artifacts-ubuntu-latest-3.9
          path: .
      - uses: actions/download-artifact@v4
        with:
          name: helm-artifacts-windows-latest-3.8
          path: .
      - uses: actions/download-artifact@v4
        with:
          name: helm-artifacts-windows-latest-3.9
          path: .

      - name: Set Up Helm
        uses: azure/setup-helm@v4.2.0

      - name: Lint helm
        run: helm lint ./todoapp/

      - name: Template Helm
        run: helm template todoapp ./todoapp/ -f ./todoapp/values.yaml

      - name: Package Helm
        run: helm package ./todoapp

      - name: Upload Helm Artifact
        uses: actions/upload-artifact@v4
        with:
          name: helm-package-ubuntu-latest-3.8
          path: ./*.tgz

  deploy-helm:
    name: Deploy helm
    runs-on: ubuntu-latest
    needs: [helm-ci, docker-ci]
    steps:
      - name: Notify for Manual Approval
        run: echo "Please trigger the Helm Deploy workflow manually with the appropriate inputs to proceed with the deployment."